/*Variables*/
$bgcolor: #1F3939;
$lgreen: #325858;
$white: #F2F2F2;
$CTA: #FFA54B;
$link1: #9EF0FF;
$link2: #EAC9FF;


/*Mixins*/
@mixin body {
    background-color: $bgcolor;
    background-image: url(img/potegang.svg);
    position: sticky;//test om det fungere når indholdet er kommet ind
}

@mixin btn {
    background-color: $CTA;
    color: $white;
    border-radius: 3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0.5rem 1rem;
}

@mixin box ($width:80%, $height:auto) {
    height:$height;
    width: $width;
    margin: 3rem auto;
    padding: 2rem;
    color: $white;
    background: rgba(50, 88, 88, 0.51);
    border-radius: 16px;
}

@mixin heading{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.25rem;
}
@mixin text{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.25rem;
    margin: 1rem 0 1rem 0;
}