/*Variables*/
$bgcolor: #1F3939;
$lgreen: #325858;
$white: #F2F2F2;
$CTA: #FFA54B;
$link1: #9EF0FF;
$link2: #EAC9FF;


/*Mixins*/
@mixin body {
    background-color: $bgcolor;
}

@mixin btn {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
    width: auto;
    background-color: $CTA;
    color: $bgcolor;
    border: 2px solid $CTA;
    border-radius: 1.5rem;
    box-shadow: 0px 4px 15px 2px rgba($CTA, 0.50) inset;
    padding: 1rem 2rem;
    text-align: center;

        &:hover{
            background-color: $bgcolor;
            color: $CTA;
            transition: ease-in 0.25s;
        }
}

@mixin box ($width:90%, $height:auto, $margin: 3rem auto, $padding:2rem) {
    height:$height;
    width: $width;
    margin: $margin;
    padding: $padding;
    color: $white;
    border-radius: 3rem;
    background: rgba($lgreen, 0.80);
    border: 2px solid rgba($white, 0.50);
    box-shadow: 0px 4px 15px 2px rgba($white, 0.50) inset;
    backdrop-filter: blur(7.5px);
}

@mixin heading{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.75rem;
    padding: 1rem 0.5rem 0 0.5rem;
}
@mixin text ($line-height:2rem, $fontsize:1.25rem){
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: $fontsize;
    line-height: $line-height;
    padding: 1.5rem 0.5rem 0 0.5rem;
}