@use 'partial';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*--------------------------Fælles styling af gentagene elementer op tværs af de tre sider--------------------------*/
body{
    @include partial.body;
    /*---------------------Header + nav styling------------------*/
        header{
            position: sticky;
            top: 0;
            z-index: 100;
            
            nav{
                @include partial.nav_footer;
            }

            .mobil{
                padding: 1rem 2rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
                
                    img{
                        width: 2.2rem;
                        height: 2.5rem;
                    }
                    
                }
            }

            .desktop{
                display: none;
            }
        }

    /*---------------------Undermenu------------------*/

  .undermenu{
        @include partial.nav_footer;
        height: 3rem;
        padding-top: 0.5rem;
        position: sticky;
        top: -5rem;
        transition: top 0.3s ease;
            ul{
                list-style: none;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                

                    li{
                            a{
                                @include partial.nav_txt;
                                @include partial.text;
                                font-size: 1.5rem;
                                padding: 0 1rem;
                                margin: 0;
                            }
                    }
            }

    }

    /*---------------------Section + link------------------*/
        .bg_img{
            position: fixed;
            z-index: -100;
            width: 100%;
            height: 100%;
            object-fit:cover;
        }
        
        section{
            @include partial.box;

                h1,h2, h3{
                    @include partial.heading;
                }

                p{
                    @include partial.text;
                }
                p:last-of-type{
                    margin-bottom: 3rem;
                }

                 /*Dette er CTA på index*/
                 .btn{
                    text-decoration: none;
                    @include partial.btn;
                }

                a{
                    @include partial.link;
                }
        }

        /*---------------------Footer------------------*/
    footer{
        @include partial.nav_footer;
        padding: 0.2rem 2rem;
        margin-top: 6rem;
            ul{
                list-style-type: none;
                @include partial.text;
                padding-bottom: 1rem;

                li{
                    text-align: center;
                    line-height: 2.5rem;

                        a{
                            @include partial.link;
                        }
                }
                li:first-of-type{
                    font-weight: bold;
                    font-size: 1.5rem;
                }
            }
    }


/*---------------------Styling af specifikke sektioner------------------*/
/*---------------------Index------------------*/
.intro{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    align-items: center;   

        .intro_img{
            display: flex;
            flex-direction: column;
            justify-content: center;

            img{
                border-radius: 1.5rem;
                width: 100%;
                height: auto;
            }

            .ref{
                color: partial.$white;
                font-size: 0.8rem;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                text-align: center;
            }
        }       
        
        .intro_txt{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
}

.oversigt{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    align-items: center;

        .a-j{
            font-weight: bold;
            display: flex;
            flex-direction: column;
            justify-content: center;
                ul{
                    list-style: none;
                    font-weight: lighter;

                    li{
                        a{
                            @include partial.link;
                            padding: 1.5rem 0.5rem 0 0.5rem;
                        }
                    }
                }
        }

        .k-t{
            font-weight: bold;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
   
}

.ES_intro{
    display: flex;
    flex-direction: column;
    align-items: center; 

        .ES{
            border-radius: 1.5rem;
            width: 100%;
            height: auto;
        }

}

/*---------------tips---------------*/
.tip{
    @include partial.tip;
        .lightbulb{
            display: flex;
            align-items: center;
            justify-content: space-between;

                img{
                    width: 3rem;
                    height: 3.2rem;
                }  
        }
    }

/*-------------------------------Media querry----------------------------------*/
@media screen and (min-width:700px) and (max-width:1024px) {
      body{
        header{
            .mobil{
                img{
                    width: 3rem;
                }
            }
        }

        .intro{
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            gap: 2rem;

                .intro_img{
                    img{
                        height: auto;
                        width: 40vw;
                    }
                }
                    .btn{
                    width: 100%;
                    margin: auto;
                }

        }
      }    
}


@media screen and (min-width: 1025px) {
    body{
        header{
            .mobil{
                display: none;
            }
            .desktop{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-right: 5rem;
                padding-left: 5rem;
                    
                    a{
                        @include partial.text;
                        @include partial.nav_txt;
                    }
                    img{
                        width: 3rem;
                        margin-right: 1rem;
                    }
                    
                    div{
                        display: inline-flex;
                        

                            form{
                                margin: auto 1rem;

                                input[type='search'] {
                                    @include partial.text;
                                    background-color: partial.$white;
                                    color: partial.$bgcolor;
                                    padding: 0.2rem 1rem;
                                    border-radius: 1.5rem;
                                    width: 15rem;
                                    
                                    
                                }

                                    .visually-hidden{
                                        position: absolute !important;
                                        width: 1px !important;
                                        height: 1px !important;
                                        padding: 0 !important;
                                        margin: -1px !important;
                                        overflow: hidden !important;
                                        clip: rect(0,0,0,0) !important;
                                        white-space: nowrap !important;
                                        border: 0 !important;
                                    }
                                
                        }
                    }
            }
        }

        /*-------------------Main styling----------------------*/
        main{
            
            section{
                width: 70%;
            }

            /*-------------------Stling på specifikke sektioner----------------------*/
            .intro{
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr;
                gap: 2rem;
                

                .btn{
                    width: 20rem;
                    margin: auto;
                }
        
            }

            .oversigt{
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr;
                gap: 2rem;
            }
            
            .tip{
                width: 70%;
            
                .lightbulb{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                
                        img{
                            width: 4rem;
                            height: 4.2rem;
                        }
                }
            }
        }
    }
}


