@use 'partial';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 /*Header og nav styling*/
header{
    position: sticky;
    top: 0;
    z-index: 100;
    
    nav{
        @include partial.nav_footer;
    }

    .mobil{
        padding: 1rem 2rem;
        display: flex;
        justify-content: space-between;
            img{
                width: 2.2rem;
                height: auto;
            }
    }

    .desktop{
        display: none;
    }
}

/*Styling for alle tre sider, elementer der gentager sig selv er alle her*/
body{
    @include partial.body;

    
        .bg_img{
            position: fixed;
            z-index: -100;
        }
        a{
            text-decoration: none;
            color: partial.$link1;
        }
    
        .intro{
            display: flex;
            flex-direction: column;
        }

        section{
            @include partial.box;

                h1,h2{
                    @include partial.heading;
                }

                p{
                    @include partial.text;
                }
                p:last-of-type{
                    margin-bottom: 3rem;
                }
                /*Dette er CTA på index*/
                .btn{
                    text-decoration: none;
                    color: partial.$white;
                    @include partial.btn;
                }
        }
    footer{
        @include partial.nav_footer;
        padding: 0.2rem 2rem;
            ul{
                list-style-type: none;
                @include partial.text;

                li{
                    text-align: center;
                    line-height: 2.5rem;
                }
                li:first-of-type{
                    font-weight: bold;
                    font-size: 1.5rem;
                }
            }
    }
}

/*---------------------Media querry------------------*/
@media screen and (min-width:700px) and (max-width:1200px) {
    header{
        .mobil{
            img{
                width: 3rem;
            }
        }
    }

    .intro{
        
        .btn{
            width: 70%;
            margin: auto;
        }

    }
}

@media screen and (min-width: 1201px) {
    header{
        .mobil{
            display: none;
        }
        .desktop{
            display: flex;
            padding-right: 5rem;
            padding-left: 5rem;
                
                img{
                    width: 3.5rem;
                }
                
                div{

                        form{
                        .visually-hidden{
                            position: absolute !important;
                            width: 1px !important;
                            height: 1px !important;
                            padding: 0 !important;
                            margin: -1px !important;
                            overflow: hidden !important;
                            clip: rect(0,0,0,0) !important;
                            white-space: nowrap !important;
                            border: 0 !important;
                        }
                    
                    }
                }
        }
    }
}


