@charset "UTF-8";
/*Variables*/
/*Mixins*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*--------------------------Fælles styling af gentagene elementer op tværs af de tre sider--------------------------*/
body {
  background-color: #1F3939;
  /*---------------------Header + nav styling------------------*/
}
body header {
  position: sticky;
  top: 0;
  z-index: 100;
}
body header nav {
  height: auto;
  width: 100%;
  padding: 1.5rem;
  color: #F2F2F2;
  background-color: #325858;
  border: 2px solid rgba(242, 242, 242, 0.5);
  box-shadow: 0px 4px 15px 2px rgba(242, 242, 242, 0.5) inset;
}
body header .mobil {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body header .mobil img {
  width: 2.2rem;
  height: auto;
}
body .desktop {
  display: none;
}

/*---------------------Main + link------------------*/
.bg_img {
  position: fixed;
  z-index: -100;
}

a {
  text-decoration: none;
  color: #9EF0FF;
}

section {
  height: auto;
  width: 90%;
  margin: 3rem auto;
  padding: 2rem;
  color: #F2F2F2;
  border-radius: 3rem;
  background: rgba(50, 88, 88, 0.7);
  border: 2px solid rgba(242, 242, 242, 0.5);
  box-shadow: 0px 4px 15px 2px rgba(242, 242, 242, 0.5) inset;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  /*Dette er CTA på index*/
}
section h1, section h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.75rem;
  padding: 1rem 0.5rem 0 0.5rem;
  color: #F2F2F2;
}
section p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.25rem;
  line-height: 2rem;
  padding: 1.5rem 0.5rem 0 0.5rem;
  color: #F2F2F2;
}
section p:last-of-type {
  margin-bottom: 3rem;
}
section .btn {
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  width: auto;
  background-color: #FFA54B;
  color: #1F3939;
  border: 2px solid #FFA54B;
  border-radius: 1.5rem;
  padding: 1rem 2rem;
  text-align: center;
}
section .btn:hover {
  background-color: #1F3939;
  color: #FFA54B;
  transition: ease-in 0.25s;
}

/*---------------------Footer------------------*/
footer {
  height: auto;
  width: 100%;
  padding: 1.5rem;
  color: #F2F2F2;
  background-color: #325858;
  border: 2px solid rgba(242, 242, 242, 0.5);
  box-shadow: 0px 4px 15px 2px rgba(242, 242, 242, 0.5) inset;
  padding: 0.2rem 2rem;
}
footer ul {
  list-style-type: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.25rem;
  line-height: 2rem;
  padding: 1.5rem 0.5rem 0 0.5rem;
  color: #F2F2F2;
}
footer ul li {
  text-align: center;
  line-height: 2.5rem;
}
footer ul li:first-of-type {
  font-weight: bold;
  font-size: 1.5rem;
}

/*---------------------Styling af specifikke sektioner------------------*/
/*---------------------Index------------------*/
.intro {
  display: flex;
  flex-direction: column;
}
.intro img {
  border-radius: 1.5rem;
}
.intro .ref {
  color: #F2F2F2;
  font-size: 0.8rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  align-self: center;
}

/*-------------------------------Media querry----------------------------------*/
@media screen and (min-width: 700px) and (max-width: 1200px) {
  body header .mobil img {
    width: 3rem;
  }
  body .intro .btn {
    width: 70%;
    margin: auto;
  }
}
@media screen and (min-width: 1201px) {
  body {
    /*-------------------Main styling----------------------*/
  }
  body header .mobil {
    display: none;
  }
  body header .desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 5rem;
    padding-left: 5rem;
  }
  body header .desktop a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.25rem;
    line-height: 2rem;
    padding: 1.5rem 0.5rem 0 0.5rem;
    color: #F2F2F2;
    font-size: 2rem;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body header .desktop img {
    width: 3rem;
    margin-right: 1rem;
  }
  body header .desktop div {
    display: inline-flex;
  }
  body header .desktop div form {
    margin: auto 1rem;
  }
  body header .desktop div form input[type=search] {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.25rem;
    line-height: 2rem;
    padding: 1.5rem 0.5rem 0 0.5rem;
    color: #F2F2F2;
    background-color: #F2F2F2;
    color: #1F3939;
    padding: 0.2rem 1rem;
    border-radius: 1.5rem;
    width: 15rem;
  }
  body header .desktop div form .visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
  }
  body main .intro .btn {
    width: 20rem;
    margin: auto;
  }
  body main section {
    width: 70%;
  }
}/*# sourceMappingURL=style.css.map */